@model UTW_Project.ViewModels.UNameEmail
@{
    ViewBag.Title = "PasswordReset";
}

@using (Html.BeginForm("PasswordReset", "Home", Model, FormMethod.Post, null))
{


    <div class="form-horizontal" style="padding-top : 150px">
        <div class="form-group">
            <h2 style="color:red">@ViewBag.Msg</h2>
            <h3 style="color:green">@ViewBag.MsgTrue</h3>
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@UTW_Project.Resources.MyTexts.Reset class="btn btn-default" />

            </div>
        </div>
        
    </div>













}

